/* * fonts */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Poppins:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: white;
}
main {
  max-width: 1000px;
  margin: 0 auto;

  background-color: whitesmoke;
}

/* ----header---- */

.first-headiing {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 50px;
}
.first-name {
  margin-top: 8px;
  margin-left: 10px;
}
.first-headiing ul {
  display: flex;
}
.first-headiing ul li {
  list-style: none;
  padding: 10px;
}

/* ------ product----*/

.product {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  padding: 50px;
}

h1 {
  font-size: 30px;
  font-weight: bold;
  color: dimgray;
}
.paragraph {
  text-align: justify;
  margin-bottom: 20px;
}
.link {
  background-image: linear-gradient(rgb(255, 0, 242), rgb(174, 0, 255));
  color: beige;
  padding: 8px;
  text-decoration: none;
  border-radius: 10px;
}
.aro {
  padding-left: 5px;
}
.product-pic > img {
  width: 300px;
}

.product-pic:hover {
  transform: scale(1.3);
  transition: 2s;
}

.product-text {
  width: 400px;
  padding: 10px;
  padding-top: 0;
}

/* ----logo---- */

.logo-design {
  flex-wrap: wrap;
  display: flex;
  border: 1px solid rgba(216, 197, 197, 0.212);
  margin-top: 40px;
  border-radius: 20px;
  gap: 1rem;
  align-items: center;
}

.logo-design img {
  margin: 0 auto;
  width: 70px;
}

/* ------product collection----- */

.colletion-info {
  max-width: 700px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  margin: 0 auto;
  margin-top: 30px;
}

.title {
  text-align: center;
  font-weight: 1.2;
  color: rgba(0, 0, 0, 0.671);
  margin-top: 50px;
}
.latest-collection {
  background-color: rgba(224, 215, 197, 0.5);
  border-radius: 5px;
}
.product-info {
  margin: 10px;
}

.product-container {
  margin-top: 0px;
}
.dolar {
  font-weight: 300;
  margin-bottom: 5px;
}

.product-img img {
  width: 100%;
  height: 100%;
  padding: 5px;
}
.product-name {
  padding: 0px;
  margin: 0px;
}
.rating-design {
  margin-bottom: 5px;
  font-size: 10px;
}

.product-conclusion {
  text-align: justify;
  font-size: 12px;
  color: #8d6d6d;
}
span {
  margin-left: 3px;
}
.fa-star.field {
  color: rgb(255, 136, 0);
}
.fa-star.empty {
  color: #aeaeae;
}
.see {
  margin-top: 20px;
  float: right;
  text-decoration: none;
  color: crimson;
}
.more {
  margin: 0 auto;
  max-width: 700px;
}
.clear {
  clear: both;
}
/* ----planing----- */

.planing {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 30px;
  background-image: url("img/BG.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 1000px;
  height: 130vh;
}
.details {
  margin-right: 50px;
  width: 300px;
}

.bio {
  border: 1px solid black;
  text-decoration: none;
  padding: 7px;
  border-radius: 50px;
  color: aliceblue;
}
.bsiuness {
  color: antiquewhite;
}

.own {
  color: #02c865;
  text-align: justify;
  margin-bottom: 20px;
}
/* ---footteerr---- */

footer {
  margin-top: 20px;
  background-color: rgb(34, 2, 63);
}
.footer-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: beige;
  padding-top: 20px;
}
.icon {
  padding: 10px;
}
@media only screen and (max-width: 900px) {
  .colletion-info {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 600px) {
  .colletion-info {
    grid-template-columns: 1fr;
  }
}
